Flask==2.2.3
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
Werkzeug==2.2.2
tensorflow==2.11.0
scipy==1.7.3
scikit-learn==0.22.2.post1
numpy==1.21.6
numba==0.48.0
resampy==0.3.1
librosa==0.7.2
